<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container-fluid">
    <div class="row">
        <%- include("partials/menu") %>
        <!-- Add List -->
        <%if(brands.length == 0){%>
            <div class="col-12 mt-3">
                <h5 class="text-d-us text-center">You have no new offers</h5>
            </div>
        <%}%>
        <%brands.forEach(brand=>{%>
            <div class="col-12 mt-3">
                <div class="px-2 py-3 bg-white">
                    <div class="row">
                        <div class="col-12">
                            <img src="<%=brand.brand_dp_url%>" alt="" class="img-brand-logo">
                            <span class="text-b h5 ml-2 mr-3"><%=brand.brand_name%></span>
                            <%if(brand.state){%>
                                <span class="text-o">Promoted</span>
                            <%}%>
                            <br>
                        </div>
                        <div class="col-12 col-lg-8 mt-2">
                            Promotion Type : <span class="text-o"><%=brand.type%></span><br>
                            <p class="text-d-us">Worth : <i class="fas fa-rupee-sign"> <%=brand.price%></i></p>
                            <div class="text-center mt-2">
                                <a href="/p/add/view/<%=brand.add_uuid%>">
                                    <button class="btn bg-y text-w hv-w">View</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%})%>
        
        
    </div>
</div>
<%- include("partials/footer") %>