<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container-fluid">
    <div class="row">
        <%- include("partials/menu") %>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-12 col-lg-4 mt-2">
                    <img src="<%=page.page_dp_url%>" alt="" class="img-list-icon">
                </div>
                <div class="col-12 col-lg-8 mt-2">
                    <div class="px-2">
                        <p></p>
                        <span class="text-b h5"><strong><%=page.page_name%></strong> <i class="fas fa-check-circle"></i></span>
                        <div class="link mt-2">
                            For verifying page, click  
                            <a href="https://www.instagram.com/mokkaengineer/" class="text-y" target="_NEW">
                                here
                            </a>
                        </div>
                        <div class="row text-center text-o mt-2">
                            <% if(page.page_followers >= 1000){%>
                                <div class="col-6 col-lg-4 bg-white"> <strong><%= page.page_followers/1000 %> M</strong></div>
                            <%}else{%>
                                <div class="col-6 col-lg-4 bg-white"> <strong><%= page.page_followers%> K</strong></div>
                            <%}%>
                            <div class="col-6 col-lg-4 bg-white "> <strong>122</strong> </div>
                        </div>
                        <div class="row text-center text-d-us">
                            <div class="col-6 col-lg-4 bg-white">followers</div>
                            <div class="col-6 col-lg-4 bg-white ">adds</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <h5 class="text-b px-2">Pricing</h5>
                    <div class="px-2 text-center ">
                        <table class="table bg-white rounded">
                            <thead class="text-d-us">
                                <tr>
                                    <th>Type</th>
                                    <th>Day(s)</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Post</td>
                                    <td>1</td>
                                    <td><input type="radio" name="choice"> <i class="fas fa-rupee-sign"></i> <%= page.page_post%></td>
                                </tr>
                                <tr>
                                    <td>Story</td>
                                    <td>1</td>
                                    <td><input type="radio" name='choice'> <i class="fas fa-rupee-sign"></i> <%= page.page_story%></td>
                                </tr>
                                <tr>
                                    <td>Both</td>
                                    <td>1</td>
                                    <td><input type="radio" checked name="choice"> <i class="fas fa-rupee-sign"></i> <%= page.page_both%></td>
                                </tr>
                            </tbody>
                        </table>
                        
                            <button class="btn bg-y text-w mr-2 mt-2">Add to Campaign</button>
                        
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!-- Currently Promoted -->
        <div class="col-12 mt-3">
            <div class="px-2">
                <h5 class="text-b">Currently Promoted</h5>
                <div class="row">
                    <div class="col-12 col-lg-4 bg-white py-3 rounded mt-3">
                       <img src="http://cdn.livekindly.co/wp-content/uploads/2019/11/vegan-plant-based-news-vegan-burger-king-livekindly-Cropped-1.jpg" alt="img" class="img-add"> 
                       <div class="brand-info mt-3">
                            <h6 class="text-y">Whopper</h6>
                            <p>Some desciption about the add goes here</p>
                            <p></p>
                            <button class="btn bg-b text-w">Visit Site</button>
                            <button class="btn bg-b text-w hv-w float-right"><i class="fab fa-instagram"></i> Profile</button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 bg-white py-3 rounded mt-3">
                        <img src="https://www.mediabrief.com/wp-content/uploads/2020/07/Image-Mondelez-India-adds-Cadbury-Choclairs-Gold-Coffee-to-its-Cadabury-line-MediaBrief.jpg" alt="img" class="img-add"> 
                        <div class="brand-info mt-3">
                             <h6 class="text-y">Whopper</h6>
                             <p>Some desciption about the add goes here</p>
                             <p></p>
                             <button class="btn bg-b text-w">Visit Site</button>
                             <button class="btn bg-b text-w hv-w float-right"><i class="fab fa-instagram"></i> Profile</button>
                         </div>
                     </div>
                     <div class="col-12 col-lg-4 bg-white py-3 rounded mt-3">
                        <img src="/img/hylet_png.png" alt="img" class="img-add"> 
                        <div class="brand-info mt-3">
                             <h6 class="text-y">Whopper</h6>
                             <p>Some desciption about the add goes here</p>
                             <p></p>
                             <button class="btn bg-b text-w">Visit Site</button>
                             <button class="btn bg-b text-w hv-w float-right"><i class="fab fa-instagram"></i> Profile</button>
                         </div>
                     </div>
                </div>
            </div>
        </div>        
        <!-- Old Promotions -->
        <div class="col-12 mt-5">
            <hr>
            <div class="px-2">
                <h5 class="text-b">Old Promotions</h5>
                <div class="row">
                    <div class="col-12 col-lg-4 bg-white py-3 rounded mt-3">
                       <img src="http://cdn.livekindly.co/wp-content/uploads/2019/11/vegan-plant-based-news-vegan-burger-king-livekindly-Cropped-1.jpg" alt="img" class="img-add"> 
                       <div class="brand-info mt-3">
                            <h6 class="text-y">Whopper</h6>
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-d-us m-0">Reach : <span class="text-o">22k</span></p>
                                </div>
                                <div class="col-6">
                                    <p class="text-d-us m-0">Promoted : <span class="text-o">1 day</span></p>
                                </div>
                            </div>
                            <p class="m-0 mt-1" > <span class="text-d-us">Type :</span> Story</p>
                            <div class="rating text-d-us mt-2">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    


                    <div class="col-12 col-lg-4 bg-white py-3 rounded mt-3">
                        <img src="http://cdn.livekindly.co/wp-content/uploads/2019/11/vegan-plant-based-news-vegan-burger-king-livekindly-Cropped-1.jpg" alt="img" class="img-add"> 
                        <div class="brand-info mt-3">
                             <h6 class="text-y">Whopper</h6>
                             <div class="row">
                                 <div class="col-6">
                                     <p class="text-d-us">Reach : <span class="text-o">22k</span></p>
                                 </div>
                                 <div class="col-6">
                                     <p class="text-d-us">Promoted : <span class="text-o">1 day</span></p>
                                 </div>
                             </div>
                             <p></p>
                             <div class="rating text-d-us">
                                 <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i><i class="fas fa-star"></i>
                             </div>
                         </div>
                     </div>



                </div>
            </div>
        </div>        
    </div>
</div>
<%- include("partials/footer") %>