<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container-fluid">
    <div class="row">
        <!-- Profile Pic -->
        <div class="col-12 text-center mt-3">
            <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" alt="Profile Pic" style="height: 150px; width: 150px; border-radius: 8px;">
        </div>
        <div class="col-12 text-center mt-1">
            <small><i class="fas fa-plus mr-1"></i>Change Picture</small>
        </div>
        <div class="col-12 text-center mt-2">
            <small class="text-d-us">Verification Pending</small>
        </div>
        <%if(type=='p'){%>
            <%- include('profile/page')%>
        <%}else{%>
            <%- include('profile/brand')%>
        <%}%>
    </div>
</div>
<%- include("partials/footer") %>