<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container-fluid">
    <div class="row">
        <%- include("partials/menu") %>
        <!-- Add List -->
        <div class="col-12 mt-4">
            <h5>Advertisement Details</h5>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="px-2 py-3 bg-white rounded">
                        <div class="row">
                            <div class="col-12">
                                <img src="<%=add.dp_url%>" alt="" class="img-brand-logo">
                                <span class="text-b h5 ml-2"><%=add.name%></span><br>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="text-center mt-3">
                                    <img id="outImage"  class="img-preview" src="<%=add.poster_link%>">
                                </div>
                                <div class="text-center">
                                    <small class="text-d-us text-center"> Use this image as Poster</small>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="text-center">
                                    <button class="btn bg-b text-w mr-3 hv-w" type="button">Download Image</button>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label for="add_desc">Caption</label><br>
                                    <small class="text-d-us">Use this as POST caption</small>
                                    <textarea name="add_desc" id="add_desc" cols="30" rows="5" class="form-control mt-2" maxlength="100" readonly><%= add.caption%></textarea>
                                    <button class="btn btn-sm btn-outline-primary mt-1">copy</button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="weblink">Website or Video link (if any)</label>
                                    <input type="text" class="form-control" name="weblink" id="weblink" placeholder="eg. https://hylet.in" value="<%= add.weblink%>" readonly>
                                    <button class="btn btn-sm btn-outline-primary mt-1">copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-4">
            <h5>Proof</h5>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="px-2 py-3 bg-white rounded">
                        <form action="">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="col-12 mt-2">
                                            <label for="">Upload Screenshot of Post or Story</label><br>
                                            <small>This will be verified and the amount will be credited to your account as soon as the verification done</small>
                                            <p></p>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile" size="1">
                                                <label class="custom-file-label" for="customFile" >Choose file</label>
                                            </div>
                                            <script>
                                                $(".custom-file-input").on("change", function() {
                                                  var fileName = $(this).val().split("\\").pop();
                                                  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                                });
                                            </script>
                                        </div>
                                        <div class="text-center mt-2">
                                            <button class="btn bg-y text-w">Accept Promotion</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-4">
            <h5>Reject Advertisement</h5>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="px-2 py-3 bg-white rounded">
                        <form action="">
                            <div class="row">
                                <div class="col-12">
                                    <small>You can reject the add if don't want to promote it.The Money will be refunded to the Advertising Party</small>
                                    <div class="form-group mt-3">
                                        <label for="">Reason for Rejection</label>
                                        <textarea name="" id="" cols="30" rows="2" class="form-control"></textarea>
                                    </div>
                                    <div class="text-center mt-2">
                                        <button class="btn btn-danger">Reject Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include("partials/footer") %>