<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container-fluid">
    <div class="row">

        <%- include("partials/menu") %>
        <div class="col-12 mt-3">
            <div class="px-2 py-3 bg-white">
                <div class="row">
                    <div class="col-12 col-lg-8 mt-3">
                        <div class="row">
                            <div class="col-5">
                                <p class="m-0 h6"><%= add.name%></p>
                                <small class="text-d-us"><%= Moment(Number(add.createdAt)).format("MMM Do YY"); %></small>
                            </div>
                            <div class="col-7">
                                <button class="btn bg-y text-w hv-w ml-2" data-toggle="modal" data-target="#exampleModal" type="button">Preview</button>
                                <%if(!add.payment){%>
                                    <a href="/user/payment">
                                        <button class="btn bg-b text-w hv-w ml-2">Payment</button>
                                    </a>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <p class="text-d-us">Total Promotions : <span class="text-o"><%= add.page_count%></span> pages </p>
                        <p class="text-d-us mt-4">Promoted in : <span class="text-o"><%= add.promote_count%></span> pages</p>
                    </div>
                    <div class="col-6 mt-4">
                        <p class="text-d-us">Add Pages to your campaign</p>
                        <a href="/user/home">
                            <button class="btn text-b hv-o">Add Pages</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3" >
            <h5 class="text-b">My Cart</h5>
            <div class="row">
                <div class="col-12">
                    <%if(pages.length == 0){%>
                        <div class="text-center mt-4 text-d-us">
                            You have added no pages to promote your add
                        </div>
                    <%}%>
                </div>
                <!--Promoting Pages -->
                <%pages.forEach(page=>{%>
                    <div class="col-12 col-lg-6">
                        <div class="px-2 py-3 bg-white">
                            <div class="row">
                                <div class="col-12">
                                    <img src="<%=page.page_dp_url%>" alt="" class="img-brand-logo">
                                    <span class="text-b h5 ml-2"><%=page.page_name%></span><br>
                                    <small class="text-d-us mt-2"><%= Moment(Number(page.addedAt)).format("MMM Do YY"); %></small>
                                </div>
                                <%if(!page.payment){%>
                                    <div class="col-12">
                                        <p class="text-danger">Payment Required*</p>
                                    </div>
                                <%}%>
                                <div class="col-6">
                                    <p class="text-d-us mt-3">Price: <span class="text-b"> <i class="fas fa-rupee-sign"></i> <%= page.price%></span></p>
                                    <p class="text-d-us ">Promo Type: <span class="text-b"><%= page.type%></span></p>
                                </div>
                                <%if(page.state){%>
                                    <div class="col-6">
                                        <a href="<%=page.proof_url%>" target="_blank">
                                            <button class="btn btn-sm bg-y text-w hv-w mt-4">Proof</button>
                                        </a>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 bg-white py-3 rounded mt-3">
                    <img src="<%= add.poster_link%>" alt="img" class="img-add"> 
                    <div class="brand-info mt-3">
                         <h6 class="text-y"><%= add.name%></h6>
                         <p><%= add.caption%></p>
                         <p></p>
                         <%if(add.weblink){%>
                            <a href="<%=add.weblink%>">
                                <button class="btn bg-b text-w">Visit Site</button>
                            </a>
                         <%}%>

                     </div>
                 </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div> 
</div>
<%- include("partials/footer") %>